---
import Container from '../components/Container.astro';
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout>
	<Container as="section">
		<Heading as="h1" size="5xl" weight="bold">Welcome to the component library</Heading>
		<Heading as="h3" size="xl">Welcome to the component library</Heading>
		<Button href="/docs">Get started</Button>
		<Button href="/" variant="secondary" size='xl'>Get started</Button>
	</Container>
	
	<section class="bg-blue-300">
		<Container as="div" width="narrow" vPadding='xl'>
		<Heading as="h5" style="color:blue">hi</Heading>
		<Heading as='h1' size='6xl' class="text-amber-700" weight="light">Hi there</Heading>
	</section>
</Layout>
